html, body {
    height: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    background: black url(http://unsplash.it/1900/1900/?random&blur);
    background-size: 200%;
    animation: panning 50s infinite linear;
}

@keyframes panning {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    75% {
        background-position: 0 100%;
    }
    200% {
        background-position: 0 0;
    }
}

